* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-size: 1.6rem;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

html,
body,
#__next {
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    padding-right: 30rem;
}

.backgroundTransparent {
    background-color: transparent;
}
